<div class="main home"> <div class="jumbotron"> <div class="container"> 
  <h2>Hello. My name is <span class="highlight">Name</span> and this is a Rails app</h2> 
  <div class="btn right"> <%= link_to 'View my Work', "portfolio" %> </div>
</div> </div> </div>